
= form_for @photo, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  %fieldset
    %legend
      Image
    = render 'layouts/errors', :target => @photo
    .control-group
      = f.label :title, :class => 'control-label'
      .controls
        = f.text_field :title, :class => 'input-large'
    .control-group
      .controls
        = f.file_field :image
    .control-group
      = f.label :remote_image_url, "or image URL", :class => 'control-label'
      .controls
        = f.text_field :remote_image_url, :class => 'input-large'
    .control-group
      %ul.thumbnails
        - @user_galleries.each do |gallery|
          %li.span3
            %div.thumbnail.selectable_gallery{ :id => "#{gallery.id}"}
              = image_tag gallery.cover_photo_url
              = check_box_tag "photo[gallery_ids][]", gallery.id, false, { :id => "cb#{gallery.id}"}
              %h4= gallery.name
    .control-group
      = f.label :public, "Public", :class => 'control-label'
      .controls
        = f.check_box :public, :class => 'input'
    .form-buttons
      %button.btn.btn-primary.state-button{ 'data-loading-text' => 'Uploading..'}
        Upload
